extends layout

block content
  h1= title
  p Welcome to #{title} hahahahhahhahahahaahah
   h1 hello
   div club wasn't the best place to find the lover so the bar is where i go 
   div me and my frieds at the table doing shot drinking fast and then s
  table 
    tr 
      td ahhahhahah